@font-face {
    font-family:Canterbury;
    src: url(../fonts/Canterbury.ttf);
}
@font-face {
    font-family: 'Carta Magna Line';
    src: url(../fonts/Carta_Magna-line-demo-FFP.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    cursor: default;
    font-family: 'montserrat';
    font-weight: 400;
}
body{
    background: #1D222B;
    overflow-x: hidden;
}
p{
    color: #CBB4B2;
    font-family: Times New Roman;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6vw;
}
.special-para{
    font-weight: 600;
    font-size: 1.3vw;
    line-height: 1.3vw;
    letter-spacing: .5vw;
    text-transform: uppercase;
    color: #BD8D4C;
}
.text-center {
    text-align: center;
}
img{
    width: 100%;
}
h1 {
    color: #FFF;
    font-family: Canterbury;
    font-size: 5.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 5vw;
}
h2{
    color: #FFF;
    text-align: center;
    font-family: Carta Magna Line;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}


a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
    font-size: 1vw;
    line-height: 1.3vw;
    color: #FFFFFF;
}

.btn {
    border-radius: 7px;
    border: 3px solid #000;
    background: #FEED01;
    padding: 1vw 2vw;
    font-family:norm-black;
    font-size: 15px;
    font-weight: 250;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    transition: all .5s ease;
    transform: scale(1);
}

.btn:hover {
    color: #000000;
    border:3px solid #000;
    background: #ffffff;
    transform: translateY(-0.4vw);
    transform: scale(1.1);
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 7vw;
    height: 1.5vw;
    margin: 0.7vw;
    background: linear-gradient(271.36deg, #fbfbfb 50.01%, #f5f0ea 72.39%);
    border-radius: 50px;
    transition: all 0.5s;
}

.navbar-toggle span:nth-child(2) {
    width: 5vw;
}

/* -------------------------------------------Navbar Management------------------
-------------------- */

.header {
    position: relative;
    top: 0vw;
    left: 0;
    z-index: 1000;
    width: 100%;
    animation: bounce 1s;
    animation-iteration-count: 1;
    transition: 1s;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.06);
}

.header .navbar {
    padding: 1vw 2vw;
    border-radius: 2vw;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    gap: 7vw;
    align-items: center;
}

.header .navbar .left-side-menu {
    text-align: left;
}
.header .navbar .left-side-menu a{
    font-family: Roboto;
    color: #fff;
    font-size: 2.5vw;
    font-weight: 800;
}
.center-menu {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.center-menu ul {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.center-menu ul li a {
    color: #B8BDCB;
    text-align: center;
    font-family: 'Carta Magna Line';
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
}
.center-menu ul li a:hover{
    color:#FFFFFFA6;
}
.social-group {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.social-group a{
    border-radius: 50%;
    background: #000;
    width: 2vw;
    height: 2vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.social-group a:hover{
    transform: translateY(-10px);
}
.social-group img{
    width: 1vw;
     
}
/* --------------------------------hero-section--------------
-------------------- */
.hero-section {
    background: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-bottom: 5vw;
}
.hero-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 20vw;
    padding-top: 8vw;
    position: relative;
}
.hero-wrapper .left {
    width: 59%;
}
.hero-wrapper .right{
    width: 39%;
    position: relative;
}
.hero-wrapper .left h3{
    color: #FFF;
    font-family: Times New Roman;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2vw;
    margin-top: 5vw;
    margin-bottom: .6vw;
}
.hero-wrapper .left p{
    margin-bottom:2vw ;
}
.hero-wrapper .left a{
    color: #FF02AB;
    font-family: Roboto;
    font-size: 1.05vw;
    font-style: normal;
    font-weight: 500;
    padding: .5vw 1vw;
    border-radius: .4vw;
    border: 2px solid #FF007A;
    transition: .3s;
}
.hero-wrapper .left a:hover{
    background: #fff;
    border: 2px solid #fff;
}
.hero-wrapper .right img{
    width: 35vw;
    position: absolute;
    left: 0;
    bottom: -7.2vw;
}
/* -----------parent----------
------ */
.parent{
    padding: 5vw 20vw;
    background: url("../images/parnt-bg.png")no-repeat;
    background-position:top center;
    background-size: cover;
    margin-top: -2vw;
    position: relative;
    z-index: 2;
}
.tokenomics {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tokenomics .contract {
    margin-top: 5vw;
}
.tokenomics .ca{
    color: #BFB8B8;
    font-family: Roboto;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 600;
    border-radius: 6vw;
    background: linear-gradient(180deg, #311414 0%, #1B0F0F 100%);
    border: 1px solid #FA5505;
    padding: 1vw 3vw;
    margin-top:3vw;
}
.token-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
}
.token-wrapper div{
    width: 30%;
}
.token-wrapper div h3{
    background: linear-gradient(90deg, #FD5A05 40.01%, #FA5505 42.01%, #EC3D03 55.01%, #E22C01 68.00%, #DC2100 83.00%, #DA1E00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Roboto;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1vw;

}
.token-wrapper div h5{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 500;
}
/* ----------about-----
------ */
.about{
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .left {
    width: 48%;
}
.about .right{
    width: 48%;
}
.about h2{
    text-align: left;
    margin-bottom: 1vw;
}
.about p{
    color: #B9B5B5;
    font-family: Roboto;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6vw;
    margin-bottom: .5vw;
}
.about .last-p{
    margin-bottom: 2vw;
}
.about p span{
    color: #FAA509;
    font-weight: 600;
}
.about .whitepaper{
    color: #FAA509;
    text-align: center;
    font-family: Roboto;
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
    border-radius: .4vw;
    padding: .5vw 1.3vw;
    border: 2px solid #FAA509;
    margin-top: 5vw;
    transition: .3s;
}
.about a{
    color: #FAA509;
    font-weight: 600;
}
.about .whitepaper:hover{
    background: #fff;
    border: 2px solid #fff;
}
.about img{
    width: 100%;
}
/* -----------tax-------
-------- */
.tax{
    padding: 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url("../images/tax-bg.png")no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    margin-top: -1.5vw;
}
.tax img{
    width: 30vw;
}
.tax h3{
    background: linear-gradient(90deg, #FD5A05 40.01%, #FA5505 42.01%, #EC3D03 55.01%, #E22C01 68.00%, #DC2100 83.00%, #DA1E00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Roboto;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 700;
}
.tax h5{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 500;
}
.tax .sell-perc{
    position: absolute;
    top: 13vw;
    left: 24vw;
}
.tax .sell{
    position: absolute;
    top: 17vw;
    left: 25vw;
}
.tax .buy-perc{
    position: absolute;
    top: 30vw;
    right:21vw;
}
.tax .buy{
    position: absolute;
    top: 34vw;
    right: 22.3vw;
}
/* ---------roadmap------
---- */
.roadmap{
    padding: 5vw 0;
    background: url("../images/roadmap-bg.png")no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    height: 68vw;
}
.roadmap div{
    background: #FFF;
    width: 15vw;
    border-radius: 6px;
}
.roadmap div h5{
    background: #FB1217;
    padding: 1vw;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 600;
}
.roadmap ul{
    padding: 1vw;
}
.roadmap ul li{
    color: #4D4D4D;
    font-family: Roboto;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw;
}
.roadmap .p-1{
    position: absolute;
    top: 15vw;
    right: 20vw;
}
.roadmap .p-2{
    width: 22vw;
    position: absolute;
    top: 42vw;
    right: 17vw;
}
.roadmap .p-2 h5{
    background: #FAA509;
}
.roadmap .p-3{
    width: 22vw;
    position: absolute;
    top: 47vw;
    left: 24vw;
}
.roadmap .p-3 h5{
    background:#3DACA3;
}
.roadmap .p-4{
    width: 10vw;
    position: absolute;
    top: 25vw;
    left: 10vw;
}
.roadmap .p-4 h5{
    background: #21649B;
}

/* faq-and-footer------------
---- */
.faqfooter{
    background: url("../images/footer-bg.png")no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 8vw 0;
    margin-top: -6vw;
    position: relative;
    z-index: 2;
    
}
.faq{
    padding: 5vw 27vw;
}
.faq h2{
    margin-bottom: 3vw;
}
/* ---------faq -------
------ */

.accordion {
    color: #ffffff;
    cursor: pointer;
    padding: 1.2vw;
    font-family: 'Roboto';
    font-weight: 600;
    width: 100%;
    background: transparent;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2vw;
    transition: 0.4s;
  }
  
  
  .accordion:after {
    content: '\203A';
    font-size: 2vw;
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-left: .5vw;
    transform: rotate(90deg);
    transition: .3s;
  }
  
  .active:after {
    transform: rotate(-90deg);
  }
  
  .panel {
    padding: 0 1.2vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /* ------------footer ----------
  -------- */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
  }
  footer h2{
    margin-bottom: 1.4vw;
    font-size: 3vw;
  }
  footer .social-group {
    margin-bottom: 3vw;
  }
  footer .social-group a{
    background: #FAA509;
  }
  footer p{
    padding: 0 11vw;
    text-align: center;
    font-family: 'Roboto';
  }
  footer p span{
    font-weight: 600;
  }
  footer .copyright{
    margin-top: .7vw;
  }
  footer .mail{
    margin-bottom: .5vw;
    font-weight: 600;
    color: #FAA509;
  }
/* --------------------------------website Responsive--------------
-------------------- */

/* ----------------------------@ 1280px--------
------- */

@media (max-width: 1280px) {

    /* -------------------------navbar 1280px--------------------------
    ----------------------- */
    

    .header ,.navbar {
        border-radius: 2vw;
    }

    .header .navbar .left-side-menu a {
        font-size: 2.3vw;
    } 

    .header .navbar .left-side-menu a img {
        width: 16vw;
    }
    .hero-section .arr1{
        top: 37vw;
        width: 13vw;
    }
    .hero-section .arr2{
        top: 45vw;
        width: 10vw;
    }
    .staking .left img {
        top: -16vw;
    }
}

/* ----------------------------@ 980px--------
------- */

@media (max-width: 980px) {

    .btn {
        border-radius: 5vw;
        padding: 1vw 2vw;
        font-size: 1.2vw;
    }
    .btn:hover {
        transform: scale(1.03);
    }

.header .navbar {
    padding-top: 1vw;
    padding-bottom: 1vw;
    justify-content: space-between;
}

.header .navbar .left-side-menu {
    width: 30%;
}

.header .navbar .left-side-menu a img {
    width: 18vw;
    height: auto;
    position: relative;
}

.header .navbar .left-side-menu a {
    font-size: 3vw;
    font-weight: 800;
    gap: 1vw;
}

.header .center-menu a li {
    font-size: 3vw;
    padding: 2vw;
    font-weight: 600;
}

.header .center-menu a li:hover {
    border-radius: 0vw;
    background: transparent;
    top: 0;
    transform: scale(1.1);
}

.header .center-menu .tg:hover li{
    color: #000000;
}

.center-menu {
    display: flex;
    width:100vw;
    height: 55vw;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    padding-top: 5vw;
    /* display: none; */
    margin-top: -900px;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0vw;
    left: 0vw;
    background-color: #D3EFFF;
    z-index: -1;
    border-radius: 2vw;
    /* border-left: 2px solid rgba(255, 255, 20, 0.5);
    border-top: 2px solid rgba(255, 255, 20, 0.5); */
}
.center-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1vw;
    gap: 4vw;
}
.center-menu ul li a {
    font-size: 3vw;
}
.center-menu .btn-group {
    flex-direction: column;
    justify-content: center;
    gap:4vw;
}
.center-menu .btn-group a{
    font-size: 2.5vw;
    padding: 1.5vw 4vw;
}

.center-menu.active {
    margin-top: 0;
    /* display: flex; */
    background-color: #1d1616;
    border-radius: 0 0 2vw 2vw;
}

.center-menu .tg {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0s;
}


.center-menu .tg:hover {
    background: #F2E0C8;
}

.header .navbar .center-menu .right-side-menu {
    margin-left: 0%;
    margin-bottom: 1vw;
}

.navbar-toggle span {
    display: block;
    width: 4vw;
    height: .5vw;
    margin: 0.7vw;
    border-radius: 50px;
    transition: all 0.5s;
}

.navbar-toggle span:nth-child(2) {
    width: 2.9vw;
}

.navbar-toggle {
    display: block;
  }
  
  .navbar-toggle.active span:nth-child(1) {
    transition-delay: 0.1s;
    transform: rotate(45deg) translate(1.3vw, 1.3vw);
  }
  
  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggle.active span:nth-child(3) {
    transition-delay: 0.1s;
    transform: rotate(-45deg) translate(0vw, 0vw);
    position: relative;
    top: -1vw;
  }
  .header .social-group{
    display: none;
  }

}


@media (max-width: 768px) {


  }

/* ----------------------------@ 600px--------
------- */

@media (max-width: 600px) {
    @font-face {
        font-family:Canterbury;
        src: url(../fonts/Canterbury.ttf);
    }
    @font-face {
        font-family: 'Carta Magna Line';
        src: url(../fonts/Carta_Magna-line-demo-FFP.ttf);
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
        cursor: default;
        font-family: 'montserrat';
        font-weight: 400;
    }
    body{
        background: #1D222B;
    }
    p{
        color: #CBB4B2;
        font-family: Times New Roman;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 3.4vw;
    }
    .special-para{
        font-weight: 600;
        font-size: 1.3vw;
        line-height: 1.3vw;
        letter-spacing: .5vw;
        text-transform: uppercase;
        color: #BD8D4C;
    }
    .text-center {
        text-align: center;
    }
    img{
        width: 100%;
    }
    h1 {
        color: #FFF;
        text-align: center;
        font-family: Canterbury;
        font-size: 14.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 14vw;
    }
    h2{
        color: #FFF;
        text-align: center;
        font-family: Carta Magna Line;
        font-size: 10vw;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
    }
    
    
    a {
        text-decoration: none;
        cursor: pointer;
    }
    
    li {
        list-style: none;
        font-size: 1vw;
        line-height: 1.3vw;
        color: #FFFFFF;
    }
    
    .btn {
        border-radius: 7px;
        border: 3px solid #000;
        background: #FEED01;
        padding: 1vw 2vw;
        font-family:norm-black;
        font-size: 15px;
        font-weight: 250;
        letter-spacing: 0.9px;
        text-transform: capitalize;
        transition: all .5s ease;
        transform: scale(1);
    }
    
    .btn:hover {
        color: #000000;
        border:3px solid #000;
        background: #ffffff;
        transform: translateY(-0.4vw);
        transform: scale(1.1);
    }
    
    .navbar-toggle {
        display: block;
        cursor: pointer;
    }
    
    .navbar-toggle span {
        display: block;
        width: 5vw;
        height: .7vw;
        margin: 0.7vw;
        background: linear-gradient(271.36deg, #fbfbfb 50.01%, #f5f0ea 72.39%);
        border-radius: 50px;
        transition: all 0.5s;
    }
    
    .navbar-toggle span:nth-child(2) {
        width: 3.5vw;
    }
    
    /* -------------------------------------------Navbar Management------------------
    -------------------- */
    
    .header {
        position: relative;
        top: 0vw;
        left: 0;
        z-index: 1000;
        width: 100%;
        animation: bounce 1s;
        animation-iteration-count: 1;
        transition: 1s;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.06);
    }
    
    .header .navbar {
        padding: 2vw 2vw;
        border-radius: 2vw;
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        gap: 7vw;
        align-items: center;
    }
    
    .header .navbar .left-side-menu {
        text-align: left;
    }
    .header .navbar .left-side-menu a{
        font-family: 'Roboto';
        color: #fff;
        font-size: 4.5vw;
        font-weight: 800;
    }
    .center-menu {
        height: auto;
        display: flex;
        height: 80vh;
        align-items: center;
        justify-content: center;   
    }
    
    .center-menu ul {
        display: flex;
        align-items: center;
        gap: 6vw;
    }
    
    .center-menu ul li a {
        color: #B8BDCB;
        text-align: center;
        font-family: 'Carta Magna Line';
        font-size: 4vw;
        font-style: normal;
        font-weight: 400;
    }
    .center-menu ul li a:hover{
        color:#FFFFFFA6;
    }
    .social-group {
        display: flex;
        align-items: center;
        gap: 1.5vw;
    }
    .social-group a{
        border-radius: 50%;
        background: #000;
        width: 2vw;
        height: 2vw;
        padding: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-group img{
        width: 1vw;
         
    }
    /* --------------------------------hero-section--------------
    -------------------- */
    .hero-section {
        background: url("../images/header-bg.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        padding-bottom: 40vw;
    }
    .hero-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 20vw;
        padding-top: 12vw;
        position: relative;
    }
    .hero-wrapper .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-wrapper .right{
        width: 100%;
        position: relative;
    }
    .hero-wrapper .left h3{
        color: #FFF;
        font-family: Times New Roman;
        font-size: 5vw;
        font-style: normal;
        font-weight: 700;
        line-height: 4vw;
        margin-top: 2vw;
        text-align: center;
        margin-bottom: 2.6vw;
    }
    .hero-wrapper .left p{
        margin-bottom:2vw;
        text-align: center;
    }
    .hero-wrapper .left a{
        color: #FF02AB;
        font-family: Roboto;
        font-size: 2.8vw;
        font-style: normal;
        font-weight: 500;
        padding: 2vw 4vw;
        border-radius: 1vw;
        border: 2px solid #FF007A;
    }
    .hero-wrapper .right img{
        width: 35vw;
        position: absolute;
        left: 14.2vw;
        bottom: -38.2vw;
    }
    /* -----------parent----------
    ------ */
    .parent{
        padding: 16vw 8vw;
        background: url("../images/parnt-bg.png")no-repeat;
        background-position:top center;
        background-size: cover;
        margin-top: -4.5vw;
        position: relative;
        z-index: 2;
    }
    .tokenomics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tokenomics .contract {
        margin-top: 5vw;
    }
    .tokenomics .ca{
        color: #BFB8B8;
        font-family: Roboto;
        font-size: 2.2vw;
        font-style: normal;
        font-weight: 600;
        border-radius: 6vw;
        background: linear-gradient(180deg, #311414 0%, #1B0F0F 100%);
        border: 1px solid #FA5505;
        padding: 2vw 6vw;
        margin-top:3vw;
    }
    .token-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vw;
        justify-content: space-evenly;
        margin-top: 5vw;
    }
    .token-wrapper div{
        width: 100%;
    }
    .token-wrapper div h3{
        background: linear-gradient(90deg, #FD5A05 40.01%, #FA5505 42.01%, #EC3D03 55.01%, #E22C01 68.00%, #DC2100 83.00%, #DA1E00 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-family: Roboto;
        font-size: 6vw;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 1vw;
    
    }
    .token-wrapper div h5{
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 3.5vw;
        font-style: normal;
        font-weight: 500;
    }
    /* ----------about-----
    ------ */
    .about{
        margin-top: 18vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8vw;
        justify-content: space-between;
        align-items: center;
    }
    .about .left {
        width: 100%;
        text-align: center;
    }
    .about .right{
        width: 100%;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin-bottom: 3vw;
    }
    .about p{
        color: #B9B5B5;
        font-family: Roboto;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 3.6vw;
        margin-bottom: 2vw;
        text-align: center;
    }
    .about .last-p{
        margin-bottom: 6vw;
    }
    .about p span{
        color: #FAA509;
        font-weight: 600;
    }
    .about .whitepaper{
        color: #FAA509;
        text-align: center;
        font-family: Roboto;
        font-size: 2.8vw;
        font-style: normal;
        font-weight: 600;
        border-radius: 1vw;
        padding: 2vw 4vw;
        border: 2px solid #FAA509;
        margin-top: 5vw;
    }
    .about img{
        width: 100%;
    }
    /* -----------tax-------
    -------- */
    .tax{
        padding: 5vw 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: url("../images/tax-bg.png")no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 1;
        margin-top: -7.5vw;
    }
    .tax img{
        width: 30vw;
    }
    .tax h3{
        background: linear-gradient(90deg, #FD5A05 40.01%, #FA5505 42.01%, #EC3D03 55.01%, #E22C01 68.00%, #DC2100 83.00%, #DA1E00 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-family: Roboto;
        font-size: 7.5vw;
        font-style: normal;
        font-weight: 700;
    }
    .tax h5{
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 3.5vw;
        font-style: normal;
        font-weight: 500;
    }
    .tax .sell-perc{
        position: absolute;
        top: 24vw;
        left: 18vw;
    }
    .tax .sell{
        position: absolute;
        top: 33vw;
        left: 19vw;
    }
    .tax .buy-perc{
        position: absolute;
        top: 24vw;
        right:14vw;
    }
    .tax .buy{
        position: absolute;
        top: 33vw;
        right: 16.3vw;
    }
    /* ---------roadmap------
    ---- */
    .roadmap{
        padding: 5vw 0;
        background: url("../images/roadmap-bg.png")no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        height: 210vw;
        gap: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .roadmap div{
        background: #FFF;
        width: 80%;
        border-radius: 6px;
    }
    .roadmap div h5{
        background: #FB1217;
        padding: 3vw;
        color: #FFF;
        font-family: Roboto;
        font-size: 6.5vw;
        font-style: normal;
        font-weight: 600;
        text-align: center;
    }
    .roadmap ul{
        padding: 3vw;
    }
    .roadmap ul li{
        color: #4D4D4D;
        font-family: Roboto;
        font-size: 3vw;
        font-style: normal;
        font-weight: 400;
        line-height: 4.5vw;
        text-align: center;
    }
    .roadmap .p-1{
        position: unset;
        top: 21vw;
        right: 9vw;
    }
    .roadmap .p-2{
        width: 80%;
        position: unset;
        top: 60vw;
        right: 10vw;
    }
    .roadmap .p-2 h5{
        background: #FAA509;
    }
    .roadmap .p-3{
        width: 80%;
        position: unset;
        top: 64vw;
        left: 13vw;
    }
    .roadmap .p-3 h5{
        background:#3DACA3;
    }
    .roadmap .p-4{
        width: 80%;
        position: unset;
        top: 25vw;
        left: 7vw;
    }
    .roadmap .p-4 h5{
        background: #21649B;
    }
    
    /* faq-and-footer------------
    ---- */
    .faqfooter{
        background: url("../images/footer-bg.png");
        background-repeat: repeat;
        background-position: top center;
        background-size: auto;
        padding: 8vw 0;
        margin-top: -9vw;
        position: relative;
        z-index: 2;
        
    }
    .faq{
        padding: 5vw 8vw;
    }
    .faq h2{
        margin-bottom: 5vw;
    }
    /* ---------faq -------
    ------ */
    
    .accordion {
        color: #ffffff;
        cursor: pointer;
        padding: 2vw;
        font-family: 'Roboto';
        font-weight: 500;
        width: 100%;
        background: transparent;
        border: none;
        text-align: left;
        outline: none;
        font-size: 3.4vw;
        transition: 0.4s;
      }
      .faq  p {
        font-size: 3vw;
        line-height: 150%;
      }
      
      .accordion:after {
        content: '\203A';
        font-size: 5vw;
        color: #ffffff;
        font-weight: bold;
        float: right;
        margin-left: .5vwpx;
        transform: rotate(-90deg);
      }
      
      .active:after {
        transform: rotate(90deg);
      }
      
      .panel {
        padding: 0 1.2vw;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
      /* ------------footer ----------
      -------- */
      footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
      }
      footer h2{
        margin-bottom: 1.4vw;
      }
      footer .social-group {
        margin-bottom: 5vw;
        margin-top: 2vw;
      }
      footer .social-group a img{
        width: 2vw;
      }
      footer .social-group a{
        background: #FAA509;
        padding: 2vw;
      }
      footer p{
        padding: 0 11vw;
        text-align: center;
        font-family: 'Roboto';
      }
      footer .copyright{
        margin-top: 2vw;
      }
}